extends base.pug 

//- block scripts 
//-   script(src='/static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/styleservices.css
block content 
    div.container_services
        h2 Our Services
        div.content_services
            img(src="/static/dance.jpg", alt="") 
            div.img_heading 
                <h3>Dancing 
            <p>Dancing is our main service. We always try to provide best services on this domain. Best experienced teachers have joined with us from several years to teach student efficiently. Students of ADA (Arnab Dance Academy) are showing their talents in different country. They always feel proud of themself to be a part of ADA.
            <br> Students can be in any age, our teachers teach them from basic level to advance level step by step. At the same time here you can get scholarship features if you can full fill our criteria. At the same time course fees are very much affordable that anyone can bear it. In every level a final examination system is conducted to pass the level. After passing final examination, successfull students get our govt. recognized certificate. Students can participate different national and international level competition through our academy.
            img(src="/static/sing.jpg", alt="")
            div.img_heading 
                <h3>Singing 
            <p>Without singing how can you express your emotions!! Now a days singing is a trending art that most of the people want to learn. So without any doubt you can contact with us. Professonal singers are here to teach you from day 1. They teach students in right way that you can become a professonal singer in future. 
            <br> Many students participate in various competition from our academy. They are performing very well in different levels. In every year, final examination is conducted. Successful students get certificate and increase stars in their certificate. Additionally, our technical team will teach you how to use different software/applications to edit your voice, streaming video in digital platform.
            img(src="/static/yoga.jpg", alt="") 
            div.img_heading 
                <h3>Yoga
            <p>Health is wealth. If you want to be a succefull one, must you have to possess a healthy physique. Yoga is very much required to make your physique healthy at the same time it makes your mind joyful. 
            <br> Several yoga guru, teachers and doctors are attached with our academy to teach yoga. There are different slots you can choose according to your preferable time. At the same time, every participants get a chance in a month for a free medical checkup. Different instruments and efficient doctors always help you to identify physical and mental problem in checkup.
