@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.container_services{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.container_services h2{
    text-align: center;
}
.content_services{
    /* background-color: lightgrey; */
    width: 90%;
    /* height: 70%; */
    border: 2px solid rgb(8, 39, 241);
    border-radius: 13px;
    padding: 25px;
    margin: auto;
}
.content_services img{
    height: 400px;
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.content_services .img_heading{
    /* justify-content: center; */
    text-align: center;
    margin: 8px 0px;
    color: #8811b7;
    font-family: 'Courgette', cursive;
}
.content_services p{
    /* padding-bottom: 5px; */
    line-height: 25px;
}
